dist/
bin/
obj/
/TestResults/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/
.vs/
*.DotSettings.user

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/
bin/
lib/

build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.pytest_cache
.ruff_cache

.ipynb_checkpoints


.DS_Store
Thumbs.db
desktop.ini
*.swp
*.bak
*.tmp
*.log

.env
.flaskenv

.devcontainer
/examples/rust/target/*

*.dll
*.so
*.dylib